.slider-block
  #myCarousel.carousel.slide
    / Carousel items
    .carousel-inner
      .active.item
        / %img{:alt => "Someimage", :src => "img/slide_bg2.jpg"}/
        = image_tag "hand_picking.jpg"
        .caption.middle-left.container
          %p.small.white.text-dark Harmless plants
          %p.medium.white.text-pink Raw food makes sense
          %p.large.pink.add-space Organic is a happy accident
      .item
        = image_tag "canal_horizontal.jpg"
        .caption.bottom-right.container
          %p.large.pink.add-space Harmless products
          %p.small.white Hard to make & easy to get
          %p.small.white 100% raw & organic coconut water
          %p.medium.white.text-pink Unprocessed, unheated nutrition & flavor
      .item
        = image_tag "agro_horizontal.jpg"
        .caption.top-right.container
          %p.medium.pink.add-space A sustainable, nutritious, and delicious
          %p.large.white.text-dark FUTURE
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.hero-unit
  .container
    .row
      .span12
        %h1
          Positive feedback loops between 
          %strong.pink PEOPLE
          and
          %strong.pink PLANTS
.container
  / TESTIMONIALS 3col
  .row.testimonials
    .span4
      = image_tag "img/testimonials_placeholder.png"
      %h2 NO CONSUMER TARGET
      %p 
        Keystone species in their native ecosystems.  Adapted to sustainable non-invasive harvesting.  Produce high bio-availability nutrition. Deliver outstanding and innovative flavor.  Develop wild harvesting/traditional organic farms.
    .span4
      = image_tag "img/testimonials_placeholder.png"
      %h2 NO DIRTY LITTLE SECRETS
      %p
        Unique ingredients from outstanding sources. Unprocessed, unheated nutrition & flavor. Innovative blends with clear functional benefits
    .span4
      = image_tag "img/testimonials_placeholder.png"
      
      %h2 NO LIFESTYLE TO SELL
      %p 
        We develop and market outstanding functional foods and beverages that provide the raw nutritional integrity of pioneering, sustainably wild-harvested plant products.
      
       
  .section-title
    %h2 You should know where your coconut water is from
  / TESTIMONIALS 4col
  .row.testimonials
    .span3
      = image_tag "img/testimonials_placeholder.png"
      %h2 Our Farms
      %p 
        Learn about our wild farms
    .span3
      = image_tag "img/testimonials_placeholder.png"
      %h2 Our Farmers
      %p
        Learn about our farmers
    .span3
      = image_tag "img/testimonials_placeholder.png"
    
      %h2 Our communities
      %p Learn about our communities
    .span3
      = image_tag "img/testimonials_placeholder.png"
      %h2 Cohabitants
      %p
        Learn how wild farming safeguards threatened ecosystems and traditions.
/ .container
.hero-unit
  .container
    .row
      .span12
        %h1 Who are we?
.container
  .team
    .row
      .span4.section-title.horizontal-left
        %h2
          Learn about agroforestry as a social business
          %i.icon-chevron-right
        %p
          / Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          / tempor incididunt ut labore et dolore magna aliqua.
        .btn.btn-large.pull-right Know more &raquo;
      .span8
        .row
          .span2.item
            .circle-thumbnail
              = image_tag "headshots/thoreau.jpg"
            %h2 Thoreau
            / %p Incididunt ut labore et dolore magna aliqua.
          .span2.item
            .circle-thumbnail
              = image_tag "headshots/baseball_cap_dude.jpg"
            %h2 Chuck Peters
            %p
              / Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          .span2.item
            .circle-thumbnail
              = image_tag "headshots/meredith.jpg"
            %h2 Meredith P. Martin
            %p Yale School of Forestry, Environmental Studies
          .span2.item
            .circle-thumbnail
              = image_tag "headshots/larry_david.jpg"
            %h2 Heiko Schindler
            / %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    / /container
