%body
  .hero-unit
    .container
      .row
        .span12
          %h1
            the
            %strong.pink Portfolio
  .container
    .row
      .span2
        %ul#portfolio-nav.nav.nav-tabs.nav-stacked
          %li{"data-type" => "all"}
            %a.all{:href => "#"} All
          %li{"data-type" => "util"}
            %a{:href => "#"} Utilities
          %li{"data-type" => "app"}
            %a{:href => "#"} Apllications
          %li{"data-type" => "people"}
            %a{:href => "#"} People
          %li{"data-type" => "digital"}
            %a{:href => "#"} Digital art
      .span10
        %ul#applications.thumbnails.portfolio-thumbnails
          %li.portfolio-item{"data-id" => "id-1", "data-type" => "util"}
            .image-wrapper
              = image_tag("img/portfolio/1.jpg", size: "300x190", alt: "")
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-2", "data-type" => "app"}
            .image-wrapper
              = image_tag("img/portfolio/2.jpg", size: "300x190", alt: "")
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-3", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/3.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-4", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/4.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-5", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/5.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-6", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/6.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-7", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/1.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-8", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/7.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-9", "data-type" => "app"}
            .image-wrapper
              = image_tag "img/portfolio/1.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-10", "data-type" => "util"}
            .image-wrapper
              = image_tag "img/portfolio/2.jpg", height: "190", width: "300"
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-11", "data-type" => "util"}
            .image-wrapper
              = image_tag("img/portfolio/1.jpg", size: "300x190", alt: "")
              %a{:href => "#"}
                %span View project
          %li.portfolio-item{"data-id" => "id-12", "data-type" => "util"}
            .image-wrapper
              = image_tag("img/portfolio/2.jpg", size: "300x190", alt: "")
              %a{:href => "#"}
                %span View project
        %hr/
        / pagination
        .pagination.pagination-centered
          %ul
            %li.disabled
              %a{:href => "#"} Prev
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} Next
