%meta{:charset => "utf-8"}/
%title= title
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "Responsive HTML template for Your company", :name => "description"}/
%meta{:content => "Oskar Żabik (oskar.zabik@gmail.com)", :name => "author"}/

= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true, defer: "defer"
= csrf_meta_tags
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
= favicon_link_tag "favicon.ico"
